# --- Maven / Java ---
target/
*.class
*.jar
*.war
*.ear
*.iml
*.log

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.ipr
out/

# Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/

# node js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build output
dist/
build/

# os
# macOS
.DS_Store

# Windows
Thumbs.db
